* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
}
div {
    width: 50%;
    height: 50%;
    border: solid 2px red;
    background-color: red;
}
img {
    width: 5rem;
    height: 5rem;
}